@font-face {
    font-family: 'GothamBold';
    src: local('GothamBold'), url(./../assets/GothamBold.ttf) format('opentype');
}

/* CONTAINER 1 */

.music-container {
    position: absolute;
    margin-top: 2%;
    margin-left: 2%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.356);
    border-radius: 20px;
    padding: 1%;
    box-shadow: 12px 11px 21px 0px rgba(0, 0, 0, 0.32);
}

.music-container button {
    font-size: 2em;
    margin-right: 10%;
    background-color: transparent;
    border: none;
}

.music-container img {
    height: 10vh;
    margin-right: 8%;

}

.play {
    color: white;
    transition: 500ms;
}

.play:hover {
    transform: scale(1.1);
    transition: 500ms;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.623);
}

.pause {
    color: white;
    animation: breathing 4s infinite;
    cursor: pointer;
    transition: 500ms;
}

.pause:hover {
    color: rgba(255, 255, 255, 0.623);
    transition: 500ms;
}

@keyframes breathing {

    0% {
        transform: scale(1.0);
    }

    25% {
        transform: scale(1.09);
    }

    50% {
        transform: scale(1.0);
    }

    75% {
        transform: scale(1.09);
    }

    100% {
        transform: scale(1.0);
    }

}

/* CONTAINER 2 */
.music-player {
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* COVER */

.cover-moving {
    animation: text 9s linear infinite;
}

@keyframes text {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);

    }
}

/* TEXT */

.music-sub-container p {
    margin: 0;
    margin-bottom: 5%;
    font-size: 1em;
    font-family: 'GothamBold';
    color: white;
}

.title-play {
    color: white;
    animation: breathe 4s linear infinite;
}

@keyframes breathe {

    0% {
        opacity: 100%;
    }

    25% {
        opacity: 40%;
    }

    50% {
        opacity: 40%;
    }

    75% {
        opacity: 40%;
    }

    100% {
        opacity: 100%;
    }

}

/* Volumeslider  */


.volumeSlider {
    -webkit-appearance: none;
    width: 60%;
    height: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.volumeSlider:hover {
    opacity: 1;
}

.volumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #e63fa0;
    cursor: pointer;
    border-radius: 100%;
}

.volumeSlider::-moz-range-thumb {
    width: 250px;
    height: 250px;
    background: #e63fa0;
    cursor: pointer;
}